<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>あしたのベスト</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header-basic">
  <div class="header-limiter">
    <h1><a href="/">あしたのベスト</a></h1>
    <nav>
      <a href="/vests">ベスト一覧</a>
      <a class="selected" href="/posts">みんなの投稿</a>
      <a href="https://www.amazon.jp/hz/wishlist/ls/24ZYKIXEM3SQV?ref_=wl_share" target="_blank">応援する</a>
    </nav>
  </div>
</header>