<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@kazuhi_ra" />
  <meta property="og:title" content="あしたのベスト" />
  <meta property="og:url" content="https://ashitano.herokuapp.com/" />
  <meta property="og:description" content="まわしますか、まわしませんか。" />
  <meta property="og:image" content="https://ashitano.herokuapp.com/images/tweet-card.jpg" />

  <title>あしたのベスト</title>
  <link rel="icon" href="https://gyazo.com/d0718e64f0cda2dc8ce5b9a799d73da2/thumb">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header-basic">
  <div class="header-limiter">
    <h1><a href="/">あしたのベスト</a></h1>
    <nav>
      <a href="/vests?1">ベスト一覧</a>
      <a class="selected" href="/posts">みんなの投稿</a>
      <a href="https://www.amazon.jp/hz/wishlist/ls/24ZYKIXEM3SQV?ref_=wl_share" target="_blank">応援する</a>
    </nav>
  </div>
</header>
<main class="timeline-wrapper">
  <a class="twitter-timeline" href="https://twitter.com/ashitano_vest?ref_src=twsrc%5Etfw"></a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</main>
</body>