<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@kazuhi_ra" />
  <meta property="og:title" content="あしたのベスト" />
  <meta property="og:url" content="https://ashitano.herokuapp.com/" />
  <meta property="og:description" content="かずひら音楽日記を使ったテストです。エポキシ加工された指板です。" />
  <meta property="og:image" content="https://cdn-ak.f.st-hatena.com/images/fotolife/k/kazuhi_ra/20191117/20191117231414.jpg" />
  
  <title>あしたのベスト</title>
  <link rel="icon" href="https://gyazo.com/d0718e64f0cda2dc8ce5b9a799d73da2/thumb">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header-basic">
  <div class="header-limiter">
    <h1><a href="/">あしたのベスト</a></h1>
    <nav>
      <a href="/vests">ベスト一覧</a>
      <a href="/posts">みんなの投稿</a>
      <a href="/support">応援する</a>
    </nav>
  </div>
</header>
<main>
  <div class="kazuhira-images"></div>
  <section>
    <div class="stops"></div>
    <div id="start">スタート！</div>
    <a class="hidden" id="tweet" href="">ツイートする</a>
  </section>
</main>
<div>
  <% 3.times do |n| %>
    <img class="hidden" src="/images/h<%= n + 1 %>.jpg">
  <% end %>
  <% 5.times do |n| %>
    <img class="hidden" src="/images/p<%= n + 1 %>.jpg">
  <% end %>
  <% 8.times do |n| %>
    <img class="hidden" src="/images/v<%= n + 1 %>.jpg">
  <% end %>
</div>
<script src="/js/main.js"></script>
</body>

</html>