<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@kazuhi_ra" />
  <meta property="og:title" content="あしたのベスト" />
  <meta property="og:url" content="https://ashitano.herokuapp.com/" />
  <meta property="og:description" content="まわしますか、まわしませんか。" />
  <meta property="og:image" content="https://ashitano.herokuapp.com/images/tweet-card.jpg" />
  
  <title>あしたのベスト</title>
  <link rel="icon" href="https://gyazo.com/d0718e64f0cda2dc8ce5b9a799d73da2/thumb">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/08494bc08d.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="header-basic">
  <div class="header-limiter">
    <h1><a href="/">あしたのベスト</a></h1>
    <nav>
      <a href="/vests">ベスト一覧</a>
      <a href="/posts">みんなの投稿</a>
      <a href="https://www.amazon.jp/hz/wishlist/ls/24ZYKIXEM3SQV?ref_=wl_share" target="_blank">応援する</a>
    </nav>
  </div>
</header>
<main>
  <div class="kazuhira-images"></div>
  <section>
    <div class="stops"></div>
    <div id="start">スタート！</div>
    <div class="share">
      <a class="hidden inactive" id="once-again">もういちど</a>
      <a class="hidden inactive" id="tweet" href="" target="_blank"><i class="fab fa-twitter"></i> これにする</a>
    </div>
  </section>
</main>
<div>
  <% 3.times do |n| %>
    <img class="hidden" src="/images/h<%= n + 1 %>.jpg">
  <% end %>
  <% 5.times do |n| %>
    <img class="hidden" src="/images/p<%= n + 1 %>.jpg">
  <% end %>
  <% 8.times do |n| %>
    <img class="hidden" src="/images/v<%= n + 1 %>.jpg">
  <% end %>
</div>
<script src="/js/main.js"></script>
</body>

</html>