<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@kazuhi_ra" />
  <meta property="og:title" content="あしたのベスト" />
  <meta property="og:url" content="https://ashitano.herokuapp.com/" />
  <meta property="og:description" content="あなたはルーレットを回します。" />
  <!--  ここをerbで変える-->
  <meta property="og:image" content="https://ashitano.herokuapp.com/images/tweet-card.jpg" />
  <!--  ここをerbで変える-->
  
  <title>あしたのベスト</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header-basic">
  <div class="header-limiter">
    <h1><a href="/">あしたのベスト</a></h1>
    <nav>
      <a href="/vests">ベスト一覧</a>
      <a href="/posts">みんなの投稿</a>
      <a href="https://www.amazon.jp/hz/wishlist/ls/24ZYKIXEM3SQV?ref_=wl_share" target="_blank">応援する</a>
    </nav>
  </div>
</header>
<main>
  <div class="canvas">
    <canvas id="myCanvas" width="300" height="495"></canvas>
  </div>
</main>
<script type="text/javascript" charset="utf-8">
  "use strict";
  <% ids = @id.to_s.chars %>
  const c = document.getElementById("myCanvas");
  const ctx = c.getContext("2d");
  const imageObj1 = new Image();
  const imageObj2 = new Image();
  const imageObj3 = new Image();
  imageObj1.src = "../images/h<%= ids[0] %>.jpg";

  imageObj1.onload = () => {
    ctx.drawImage(imageObj1, 0, 0, 300, 120);

    imageObj2.src = "../images/v<%= ids[1] %>.jpg";
    imageObj2.onload = () => {
      ctx.drawImage(imageObj2, 0, 120, 300, 150);

      imageObj3.src = "../images/p<%= ids[2] %>.jpg";
      imageObj3.onload = () => {
        ctx.drawImage(imageObj3, 0, 270, 300, 225);
      };
    };
  };
</script>
</body>

</html>