<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@kazuhi_ra" />
  <meta property="og:title" content="あしたのベスト" />
  <meta property="og:url" content="https://ashitano.herokuapp.com/" />
  <meta property="og:description" content="まわしますか、まわしませんか。" />
  <meta property="og:image" content="https://ashitano.herokuapp.com/images/tweet-card.jpg" />

  <title>あしたのベスト</title>
  <link rel="icon" href="https://gyazo.com/d0718e64f0cda2dc8ce5b9a799d73da2/thumb">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header-basic">
  <div class="header-limiter">
    <h1><a href="/">あしたのベスト</a></h1>
    <nav>
      <a class="selected" href="/vests">ベスト一覧</a>
      <a href="/posts">みんなの投稿</a>
      <a href="https://www.amazon.jp/hz/wishlist/ls/24ZYKIXEM3SQV?ref_=wl_share" target="_blank">応援する</a>
    </nav>
  </div>
</header>
<main class="wrapper">
  <div class="vests-wrapper">
    <h1>いろんなベスト</h1>
    <% a = ["MHL.のベストです", "古着のベストです", "BEAMSのベストです", "BEAMSのベスト2です", "mont-bellのベストです", "BEAMSのベスト3です", "MHL.のベスト2です", "カーディガンです", "贈り物のベストです"] %>
    <% a.size.times do |i| %>
      <div class="description">
        <img class="v-image" src="https://ashitano.herokuapp.com/images/v<%= i + 1 %>.jpg">
        <p class="text-contents"><%= a[i] %></p>
      </div>
      <%= "<br/>" if i % 3 == 2  %>
    <% end %>
  </div>
</main>
<div class="return-wrapper">
  <a class="return" href="/">ルーレットにもどる</a>
</div>
</body>

</html>