html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    color: rgba(255, 255, 255, 0.92);
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    background-image: url(../images/renga2.png);
}

.header-basic {
    background-color: #17223b;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 20px 40px;
    height: 80px;
    box-sizing: border-box;
}

.header-basic .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

/* Logo */

.header-basic .header-limiter h1 {
    float: left;
    line-height: 40px;
    margin: 0;
    font-size: 24px;
}

/* The header links */

.header-basic .header-limiter a {
    color: #ffffff;
    text-decoration: none;
}

.header-basic .header-limiter nav {
    
    line-height: 40px;
    float: right;
}

.header-basic .header-limiter nav a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    opacity: 0.65;
}

.header-basic .header-limiter nav a:hover {
    opacity: 0.9;
}

.header-basic .header-limiter nav a.selected {
    pointer-events: none;
    opacity: 1;
}

main {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;

}

main section {
    display: flex;
    flex-direction: column;
}

main section img {
    width: 300px;
    margin: 0 auto;
}

main section:nth-child(1) img {
    height: 120px;
}

main section:nth-child(2) img {
    height: 150px;
}

main section:nth-child(3) img {
    height: 232px;
}



.stops {
    width: 300px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: row;
}

.stop {
    margin: 0 auto 4px auto;
    cursor: pointer;
    width: 56px;
    height: 32px;
    background-color: #ef454a;
    box-shadow: 0 4px 0 #d1483e;
    border-radius: 16px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    user-select: none;
}

.stop:active {
    margin-top: 4px;
    margin-bottom: 0px;
    box-shadow: none;
}

#start {
    color: #dedede;
    cursor: pointer;
    width: 240px;
    height: 36px;
    background-color: #3498db;
    box-shadow: 0 4px 0 #2880b9;
    border-radius: 18px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
    margin: 20px auto 20px auto;
}

#start:active {
    margin: 26px auto 20px auto;
    box-shadow: none;
}

.share {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#tweet {
    color: #dedede;
    cursor: pointer;
    width: 120px;
    height: 36px;
    background-color: #00acee;
    box-shadow: 0 4px 0 #3488bf;
    border-radius: 8px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
    margin: 20px auto 20px auto;
    text-decoration: none;
}

#tweet:active {
    margin: 26px auto 20px auto;
    box-shadow: none;
}

#once-again {
    color: #dedede;
    cursor: pointer;
    width: 120px;
    height: 36px;
    background-color: #ecb746;
    box-shadow: 0 4px 0 #bb9137;
    border-radius: 8px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
    margin: 20px auto 20px auto;
    text-decoration: none;
}

#once-again:active {
    margin: 26px auto 20px auto;
    box-shadow: none;
}

.canvas {
    width: 300px;
    margin: 0 auto;
}

canvas {
    /*width: 200px;*/
    margin: 0 auto;
}

.inactive {
    opacity: 0.85;
    pointer-events: none;
    cursor: default;
}

.hidden {
    display: none;
}

/* responsive */
@media all and (max-width: 600px) {
    .header-basic {
        padding: 20px 0;
        height: 75px;
    }

    .header-basic .header-limiter h1 {
        float: none;
        margin: -6px 0 10px;
        text-align: center;
        font-size: 24px;
        line-height: 1;
    }

    .header-basic .header-limiter nav {
        line-height: 1;
        float: none;
    }

    .header-basic .header-limiter nav a {
        font-size: 13px;
    }
    
    main section img {
        width: 270px;
        margin: 0 auto;
    }

    main section:nth-child(1) img {
        height: 108px;
    }

    main section:nth-child(2) img {
        height: 135px;
    }

    main section:nth-child(3) img {
        height: 209px;
    }

    #start {
        margin: 15px auto;
    }

    #tweet {
        margin: 15px auto;
    }

    .stops {
        margin: 15px auto 0 auto;
    }

    #start:active {
        margin: 20px auto 20px auto;
        box-shadow: none;
    }
}